.wrapper {
  padding: var(--space-sm) 0;
  background-color: var(--gray-10);
}

.flexContainer {
  composes: spaceBetween from './utils.module.css';
  gap: 2em;
}

.copyright {
  font-size: small
}

.title {
  font-size: larger;
}
